<div class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <img  src="../../assets/img/NNTECH-logo.png" style="width:150px"/>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p *ngIf="fLogin.valid" class="login-box-msg">Đăng nhập để bắt đầu phiên của bạn</p>
        <ul class="error-message">
          <li *ngIf="username.invalid">Tên đăng nhập bắc buộc</li>
          <li *ngIf="password.invalid">Mật khẩu bắc buộc</li>
          <li *ngIf="password.errors?.minlength">Mật khẩu ít nhất 8 ký tự</li>
          <li *ngIf="password.errors?.pattern">Mật khẩu ít nhất 1 ký tự viết hoa, viết thường và ký tự đặc biệt</li>
        </ul> 

        <form [formGroup]="fLogin" (ngSubmit)="fLogin.valid && login()">
          <div class="input-group mb-3">
            <input type="text" class="form-control" formControlName="username" placeholder="Tên đăng nhập">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          
          <div class="input-group mb-3">
            <input type="password" class="form-control" formControlName="password" placeholder="Mật khẩu">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" id="remember">
                <label for="remember">
                  Ghi nhớ
                </label>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">Login</button>
            </div>
            <!-- /.col -->
          </div>
        </form>

        <div class="social-auth-links text-center mb-3">
          <p>- HOẶC -</p>
          <a href="#" class="btn btn-block btn-primary">
            <i class="fab fa-facebook mr-2"></i> Đăng nhập với Facebook
          </a>
          <a href="#" class="btn btn-block btn-danger">
            <i class="fab fa-google-plus mr-2"></i> Đăng nhập với Google+
          </a>
        </div>
        <!-- /.social-auth-links -->

        <p class="mb-1">
          <a href="#">Quên mật khẩu</a>
        </p>
        <p class="mb-0">
          <a href="#" class="text-center">Đăng ký thành viên</a>
        </p>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
</div>