<div class="fix-content">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-1">
                <div class="col-sm-12">
                    <h1>Tài khoản người dùng</h1>
                </div>

            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="card">
            <div class="card-header">
                <button accesskey="a" type="button" class="btn btn-success btn-sm"><i class="fas fa-plus"></i>
                    Thêm mới
                </button>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example2" class="table table-bordered table-hover table-custom resizer">
                    <thead>
                        <tr>
                            <th>Tên đăng nhập</th>
                            <th>Nhóm quyền</th>
                            <th>Họ tên</th>
                            <th>Năm sinh</th>
                            <th>Điện thoại</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td>{{user.userName}}</td>
                            <td>{{user.roles}}</td>
                            <td>{{user.fullName}}</td>
                            <td>{{user.dob  | date:'dd/MM/yyyy'}}</td>
                            <td>{{user.phoneNumber}}</td>
                            <td> {{user.email}}</td>
                            <td>Active</td>
                            <td>View</td>
                        </tr>

                    </tbody>

                </table>
            </div>
            <!-- /.card-body -->
        </div>

    </section>
    <!-- /.content -->
</div>